.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 1%;
  text-align: center;
}

.copyright {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1rem;
}
