.header {
  display: flex;
  flex-direction: column;
  top: 0;
  width: 100%;
  padding: 0%;
}

.title {
  background-color: black;
  padding: 2rem 0;
  margin: 0;
  font-size: 3rem;
  text-align: center;
  color: white;
}
