.grid {
  width: 90%;
  display: grid;
  margin: 0 auto;
  grid-gap: 2rem;
  padding: 1rem;
}

@media (min-width: 425px) {
  .grid {
    grid-template-columns: 90%;
  }
}

@media (min-width: 450px) {
  .grid {
    grid-template-columns: 45% 45%;
  }
}

@media (min-width: 900px) {
  .grid {
    grid-template-columns: 30% 30% 30%;
  }
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: 20% 20% 20% 20%;
  }
}

@media (min-width: 1440px) {
  .grid {
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
  }
}
