.card {
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 10px 10px 48px 0px rgba(120, 113, 113, 0.75);
  height: 20rem;
  padding: 1rem;
  transition: 0.5s ease-in-out;
}
.card:hover {
  box-shadow: 10px 10px 48px 0px rgb(51, 62, 182);
}

p {
  margin: 0;
}

.image {
  height: 55%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.image {
  text-align: center;
}

.number {
  text-align: center;
  font-weight: 800;
  font-size: 1.5rem;
}

.name {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 800;
}

.info {
  margin-left: 10px;
}

.info {
  padding-bottom: 10px;
}

.info .title {
  font-weight: 700;
}

.types {
  display: flex;
  align-items: wrap;
  justify-content: center;
}

.grass {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  color: white;
  background-color: green;
  width: 50%;
  text-align: center;
}

.poison {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  color: white;
  background-color: rgb(126, 64, 126);
  width: 50%;
  text-align: center;
}

.fire {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  color: white;
  background-color: rgb(212, 43, 13);
  width: 50%;
  text-align: center;
}

.flying {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  color: white;
  background-color: rgb(108, 185, 160);
  width: 50%;
  text-align: center;
}

.water {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  color: white;
  background-color: rgb(7, 34, 114);
  width: 50%;
  text-align: center;
}

.bug {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  color: white;
  background-color: rgb(96, 78, 86);
  width: 50%;
  text-align: center;
}

.normal {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  color: white;
  background-color: rgb(157, 142, 142);
  width: 50%;
  text-align: center;
}

.electric {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  color: white;
  background-color: rgb(222, 197, 37);
  width: 50%;
  text-align: center;
}

.ground {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  color: white;
  background-color: rgb(38, 5, 5);
  width: 50%;
  text-align: center;
}

.fairy {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  color: white;
  background-color: rgb(209, 14, 160);
  width: 50%;
  text-align: center;
}

.fighting {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  color: white;
  background-color: rgb(214, 191, 124);
  width: 50%;
  text-align: center;
}

.psychic {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  color: rgb(35, 32, 32);
  background-color: rgb(243, 216, 237);
  width: 50%;
  text-align: center;
}

.rock {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  color: white;
  background-color: rgb(13, 13, 13);
  width: 50%;
  text-align: center;
}

.steel {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: rgb(188, 178, 186);
  width: 50%;
  text-align: center;
}

.ice {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  color: rgb(12, 12, 12);
  background-color: rgb(14, 209, 190);
  width: 50%;
  text-align: center;
}

.dragon {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  color: white;
  background-color: rgb(109, 50, 168);
  width: 50%;
  text-align: center;
}
