@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(240, 240, 240);
}

body {
  max-height: 100vh;
  max-width: 100vw;
}
